/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/tetris/tetris.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
#main {
  height: 100%;
  margin: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playground {
  height: 640px;
  width: 320px;
  border: 1px solid white;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(20, 32px);
  border: 1px solid #ccc;
}

.piece {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  grid-template-rows: repeat(2, 32px);
  border: 1px solid #ccc;
}

