.main {
  height: calc(100vh - 2em);
}
.playground {
  height: 640px;
  width: 320px;
  border: 1px solid white;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(20, 32px);
  border: 1px solid #ccc;
}

.gameInfo {
  border: 1px solid #ccc;
  padding: 1em;
  height: auto;
  max-height: 5em;
}

.gameInfoSection {
  height: 640px;
}

.piece {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  grid-template-rows: repeat(2, 32px);
  border: 1px solid #ccc;
}

.spectreGrid {
  /* position: absolute;
  top: 5vh;
  right: 10vw; */
  transform: scale(70%);
}
